<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	{% include '_tag_head.html' %}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<meta name="author" content="Brand New Guys" />
	<link rel="shortcut icon" href="./favicon.ico">
	<script>document.documentElement.className = "js";</script>
  <script type="module" crossorigin src="/static/js/culture.js"></script>
  <link rel="stylesheet" crossorigin href="/dist/index.css">
  <link rel="stylesheet" crossorigin href="/static/css/culture.css">
<style>
	.slider__container.js-container {
    overflow-x: auto;
    display: flex;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    transition: transform 0.2s ease-out;
}

.slider__item {
    flex: 0 0 auto; 
    width: 80%;
    scroll-snap-align: start;
}

.slider__container.active {
    cursor: grabbing;
}
</style>
</head>

<body class="dark">
	{% include '_tag_body.html' %}
	<div id="app" class="wrapper js-content">
		
	</div>
	{% include 'header_nav.html' %}
	
	<script src="/static/js/infinitemenu.js"></script>
	<script src="/dist/index.js"></script>
</body>

</html>